// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.unselectable {
    user-select: none;
}

.blur {
    filter: blur(2px);
}

input.text {
    background-color: transparent;
    border: 0;
    font-size: 1em;
}
