// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.unselectable {
    user-select: none;
}

input.text {
    background-color: transparent;
    border: 0;
    font-size: 1em;
}

.card-img {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        background-position: inherit;
        background-size: inherit;
        background-repeat: inherit;
        filter: blur(5px); // Настройте значение blur по вашему вкусу
        z-index: 1;
    }

    .card-content {
        position: relative;
        z-index: 2;
    }

    .card-body {
        min-height: 250px;
    }
}
